body {
  font-family: monospace;
}

button,
input {
  font-family: monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

.done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}
